html {
  font-size: 10px;
}

body {
  background-color: #dcdcdc;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Garamond";
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Garamond";
}
p {
  text-align: center;
  font-family: "Garamond";
  font-size: 20px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-family: "Garamond";
  font-size: 20px;
}

li {
  margin: 16px 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#img-div {
  background: #f1f1f1;
  padding: 10px;
}
